<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>search</title>
</head>
<body>
    <main>
        <content>
          <div class="camera"></div>
          <div class="head1">       
          </div>
          <div class="add">
            <a href="{% url 'create_contact' %}">
              <div class="cro"></div>
              <div class="ss"></div>
            </a>
          </div>
          <div class="screen">
            {% for search in search %}
              {% if search %}
                <div>
                  <p class="cn">{{search}} </p>
                  <p class="cn">PhoneNo: {{search.PhoneNo}}</p>
                  <p class="cn">Email: {{search.Email}}</p>
                  <p class="cn">Home: {{search.Address}}</p> 
                  <hr>
              </div>  
              <div class="callwrapper">
                  <p class="call">Dial</p>
                  <p><a href="{% url 'edit' search.id %}" class="edit">Edit</a></p>
                </div>  
              {% else %}
                  <p>no contact</p>
              {% endif %}    
            {%endfor%}
          </div>
          <div class="app">
            <div></div>
            <div></div>
            <a href="{% url 'back' %}"><div></div></a>
          </div>
        </content>
      </main>
</body>
</html>